<!doctype html>
<html>
<head>
    <title>Let's Play Roulette</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
        <div class="col-sm-6">
          <h1>Results</h1>
          <ul class="messages">
     >

          <h3>Bank Amount</h3>
            <span><%= bank[0].bankAmt %></span>
          <h3>House Wins</h3>
            <span><%= bank[0].wins %></span>
          <h3>House Losses</h3>
            <span><%= bank[0].loses %></span>

</div>
<a href="/game"><button>Go to Game!</button></a>
<script src="main.js"></script>

</body>
</html>
